name: Test Call Workflow

on:
  workflow_dispatch:  # 手動実行可能

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo "ORG_SECRET: ${{ secrets.ORG_SECRET }}"
          
  test_call:
    needs: job1
    uses: testorger/public_reusable_workflows/.github/workflows/common.yml@main
    permissions: 
      contents: read
    with:
      env: ${{ secrets.TOKEN_TEST }}
    secrets:
      TOKEN: ${{ secrets.TOKEN_TEST }}
