name: Test Call Workflow

on:
  workflow_dispatch:  # 手動実行可能

env:
  TEST_ENV: '【test】It''s test message!!\n\nescape test!\nand eof test!'
  TEST_ENV2: '【test】Its test2 message!!\n\nescape test2!\nand eof test2!'
  
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      testenv: ${{ steps.setoutputs.outputs.testenv }}
      testenv2: ${{ steps.setoutputs.outputs.testenv2 }}
    steps:
      - name: echo
        id: setoutputs
        run: |
          echo "TEST_ENV: $TEST_ENV"
          escape() { printf "%s" "$1" | sed "s/'/'\"'\"'/g"; }
          ESCAPED=$(escape "$TEST_ENV")
          ESCAPED2=$(escape "$TEST_ENV2")
          echo "ESCAPED: $ESCAPED"
          echo "ESCAPED2: $ESCAPED2"
          {
            echo "testenv<<EOF"
            echo "$ESCAPED"
            echo "EOF"
            echo "testenv2<<EOF"
            echo "$ESCAPED2"
            echo "EOF"
          } >> $GITHUB_OUTPUT
      # - name: call composite
      #   uses: testorger/public_reusable_workflows/.github/actions/sample-composite@main
      #   with:
      #     parameter1: ${{ secrets.ORG_SECRET }}
        
  test_call:
    needs: job1
    uses: testorger/public_reusable_workflows/.github/workflows/common.yml@main
    permissions: 
      contents: read
    with:
      env: ${{ needs.job1.outputs.testenv }}
    secrets:
      TOKEN: ${{ needs.job1.outputs.testenv2 }}
      # JSON: '{"name":"test", "value":"${{ secrets.ORG_SECRET }}"}'
