name: Test Call Workflow

on:
  workflow_dispatch:  # 手動実行可能

env:
  TEST_ENV: test1234
  
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      testenv: ${{ steps.setoutputs.outputs.testenv }}
    steps:
      - name: echo
        id: setoutputs
        run: |
          echo "TEST_ENV: ${{ env.TEST_ENV }}"
          echo "testenv=${{ env.TEST_ENV }}" >> $GITHUB_OUTPUT
      # - name: call composite
      #   uses: testorger/public_reusable_workflows/.github/actions/sample-composite@main
      #   with:
      #     parameter1: ${{ secrets.ORG_SECRET }}
        
  test_call:
    needs: job1
    uses: testorger/public_reusable_workflows/.github/workflows/common.yml@main
    permissions: 
      contents: read
    with:
      env: 'abc'
    secrets:
      TOKEN: ${{ needs.job1.outputs.testenv }}
      # JSON: '{"name":"test", "value":"${{ secrets.ORG_SECRET }}"}'
