name: Test Call3 Workflow

on:
  workflow_dispatch:  # 手動実行可能
env:
  TEST_ENV1: 'test env1 !!'
  DB_CONNECTION: 'jdbc:postgresql://mypsql.com:5432/db?sslmode=require'
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo "ORG_SECRET: ${{ secrets.ORG_SECRET }}"
      - name: call composite
        uses: testorger/public_reusable_workflows/.github/actions/sample-composite@main
        with:
          parameter1: |
            [
              {"name": "TEST_NAME1", "value": "${{ secrets.ORG_SECRET }}"},
              {"name": "TEST_NAME2", "value": "${{ env.TEST_ENV1 }}"},
              {"name": "TEST_NAME3", "value": "$DB_CONNECTION"}
            ]
